<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
	<featureDefinition
		featureGuid="06451ec6-d4d7-47e3-a1ce-d19aaf7f98fe"
    supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlCe"
		resourceFile="CommentResources"
		featureNameReasourceKey="FeatureName" 
		controlSource="Comments/CommentsModule.ascx"
		sortOrder="900"
    isCacheable="false"
		defaultCacheTime="0"
		excludeFromFeatureList="false"
		icon="blank.gif"
    isSearchable="false"
    supportsPageReuse="true"
		>

    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="CommentSystemSetting"
			defaultValue="internal"
			controlType="ISettingControl"
      controlSrc="~/Controls/CommentSystems/CommentSystemSetting.ascx"
      helpKey="Blog-CommentSystemSetting-help"
      sortOrder="6000"
			regexValidationExpression=""
			/>
    
    <featureSetting
          resourceFile="CommentResources"
          grouNameKey=""
          resourceKey="AllowComments"
          defaultValue="true"
          controlType="CheckBox"
          controlSrc=""
          helpKey="Comments-AllowComments-help"
          sortOrder="6100"
          regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="RequireApprovalForComments"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Comments-RequireApprovalForComments-help"
      sortOrder="6150"
			regexValidationExpression=""
			/>
    
    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="AllowCommentTitle"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Comments-AllowCommentTitle-help"
      sortOrder="6250"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="AllowWebSiteUrlForComments"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Comments-AllowWebSiteUrlForComments-help"
      sortOrder="6300"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="UseCommentSpamBlocker"
			defaultValue="true"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Comments-UseCommentSpamBlocker-help"
      sortOrder="6400"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="RequireAuthenticationForComments"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Comments-RequireAuthenticationForComments-help"
      sortOrder="6500"
			regexValidationExpression=""
			/>
    <featureSetting
			resourceFile="CommentResources"
      grouNameKey=""
			resourceKey="SortCommentsDescending"
			defaultValue="false"
			controlType="CheckBox"
      controlSrc=""
      helpKey="Comments-SortCommentsDescending-help"
      sortOrder="6550"
			regexValidationExpression=""
			/>
			
	<featureSetting
			resourceFile="CommentResources"
			grouNameKey=""
			resourceKey="DateTimeFormat"
			defaultValue=""
			controlType="TextBox"
			controlSrc=""
			helpKey="BlogDateTimeFormat-help"
			sortOrder="7000"
			regexValidationExpression=""
			/>
    
		
	</featureDefinition>
</featureDefinitions>

